.env
database.db
__pycache__/
*.pyc
.idea/
.venv/
venv/
.DS_Store
service_account.json
*.png


# SDK Build Artifacts (Do NOT Commit)
dist/
build/
*.egg-info/

# Allow specific brand assets
!static/images/brand_logo.png
!static/png_assets/


output.json

.promptfoo/

DEEPSEEK_API_KEY=sk-320af1b3c15d47178b61ca439b69c55b